@import 'assets/scss/variables.scss';

/* Header */
.app-header {
  background:url('./../../assets/images/cover-bg.png') no-repeat top center;
  border-bottom: 3px solid #fff;
  text-align: center;
  color:#fff;
  position:fixed;
  top:0;
  right:0;
  left:0;
  z-index: 999;
  @include little-fade-shadowed();
  .navigation {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    a {
      text-decoration: none;
      display: inline-block;
      border-radius: 5px;
      margin:10px 5px;
      background-color: rgba($greyBlueFaded,0.2);
      padding:5px 10px;
      color: #fff;
      line-height: 1.4;
      svg {
        margin: 3px;
        float: left;
        display: inline-block;
      }
      &:hover {
        background-color: rgba($greyBlueFaded,0.4);
      }
    }
  }
  a.logo {
    line-height: 1;
    justify-content: center;
    display: block;
  }
  &.is-home {
    position: relative;
    padding-top: 50px;
    padding-bottom: 30px;
  }
  h1.page-title {
    color:#fff;
    font-size:35px;
    margin:0;
  }
  p.sub-title {
    margin:0;
    font-size: 18px;
    a {
      color:#fff;
      font-weight: 500;
    }
  }
}